bin/
.env
web/.env
*.exe
*.dll
*.so
*.dylib
*.test
*.out
cloudflared/credentials.json
node_modules/
dist/
build/
.dart_tool/
.packages
.flutter-plugins
.flutter-plugins-dependencies
pubspec.lock
.gradle/
*.apk
*.aab
*.jks
*.keystore
.idea/
*.iml
.DS_Store
india-latest.osm.pbf
*.osm.pbf
./server/server
